@charset "utf-8";
/* CSS Document */



body{ 
    background:#f9f9f9;
	margin:0;
	font-size:12px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
div{
	color:#333; line-height:1.6;
}

img{ border:none;}

a{
	color:#666;
	text-decoration:none;
}
a:hover{
	color:#b20000;
}
h1{
	color:#b20000;
	font-size:16px;}

h2{
	color:#000;
	font-size:16px;
	border-bottom:#ddd solid 2px;
	padding:6px;
}

h3{
	color:#b20000;
	font-size:16px;}
h5{
	color:#000;
	font-size:16px;
	border-bottom:#ccc dotted 2px;
	padding:0 0 6px 6px;
	margin:0;
}

.header {    
	width:960px;
	height:99px;
	margin:0 auto;
}
.clear {
	clear: both;
}
div.header a {
}

div.header a:hover {
}

div.header div {
}

.header .logo {
	position: relative;
	float:left;
    width: 117px;
    height: 75px;
    background-image: url("../img/icon.png");
    background-position: -44px -24px;
    margin:10px 0 0 0px;
}
.header .ad{
	font-size:20px;
	margin:20px 0 0 26px;
	float:left;
    top: 0;
	width:226px;
	color:#999;
}
.header .nav1{
	background:#aaa;
	float:right;
	color:#fff;
	padding:0 6px;

}

.header .nav1 a{
	color:#fff;
	text-decoration:none;
	line-height:26px;
}
.header .nav1 a:hover{
	color:#b20000;
}
.English{
    width:16px;
    height:16px;
    background-image: url("../img/icon.png");
	background-position: -38px -151px;
	display: inline-block;
	margin:0px 6px 0 10px;

	}
.Sign{

    width:16px;
    height:16px;
    background-image: url("../img/icon.png");
	background-position: -38px -186px;
	display: inline-block;
	margin:0px 6px 0 10px;
	}
.home{

    width:11px;
    height:9px;
    background-image: url("../img/icon.png");
	background-position: -38px -122px;
	display: block;
	float:left;
	left:310px;
	margin:19px 6px 0 0px;
	}
.header .ShoppingList{
	position: relative;
	float:right;
    width: 66px;
    height: 66px;
    background: url(../img/icon.png) no-repeat ;
    background-position: -213px -52px;
	top:36px;
	right:-160px;
	
	
}
.header .ShoppingList:hover{
    background-position: -213px -151px;
	
	
}

.nav2{
	background:#ddd;
	border-top:#ccc solid 6px;
	height:35px;

}
.nav3{
	margin:0 auto;
	width:960px;

}
.content{

}
.content2{
	margin:0 auto;
	width:960px;

}
.content3{



}


.hot{
	background:#fff;
	text-align:center;

}
.nav2 li{
	float:left;
	list-style:none;
	padding:3px 16px 0 0;
}

.nav2 li a{
	font-size:16px;
	color:#333;
	text-decoration:none;
	padding:9px 9px;
}
.nav2 li a:hover{
	background:#b20000;
	color:#fff;
}

.box1{
	float:left;
	width:200px;
	height:220px;
	border:#ccc solid 1px;
	background:#fff;
	text-align:center;
	margin:0 12px 12px 0px;
	padding:12px;
}

.box1:hover{
	border:#b20000 solid 1px;
}

.box1 a{
	color:#333;
}
.box1 a:hover{
	color:#b20000;
	
}
.price1{
	font-size:16px;
	color:#b20000;
	float:left;
	padding:3px 6px; 
}
.price1-2{
	font-size:26px;
	color:#b20000;
	font-weight:bold;
	border-bottom:#ccc dotted 2px;
	}

.price2{
	color:#999;
	float:left;
	padding:6px 6px; 
	text-decoration:line-through;
}
.price2-2{
	color:#999;
	text-decoration:line-through;
	font-size:16px;
}

.price3{
	color:#999;
	float:left;
	padding:6px 6px; 
}
.name{
	text-align:left;
}
.footer{
	border-top:#ccc solid 1px;
	background:#eee;
	height:222px;
	color:#666;
	margin:60px 0 0 0;
}
.footer-box{
	padding:10px;
	width:200px;
	margin:10px;
	float:left;
	line-height:2;
}
.footer-box li{
	list-style:none;
}
.footer2{
	width:960px;
	margin:0 auto;
}
.footer2 p{

	margin:0 auto;
	font-size:18px;
	color:#000;
	
}
.footer .ico{
	position: relative;
    width: 62px;
    height: 62px;
    background-image: url("../img/icon.png");
}
.footer .Contact{
	background-position: -21px -710px;
}
.footer .services{
	background-position: -21px -786px;
}
.footer .account{
	background-position: -21px -938px;
}
.footer .Open{
	background-position: -21px -862px;
}
.footer .Contact:hover{
	background-position: -143px -710px;
}
.footer .services:hover{
	background-position: -143px -786px;
}
.footer .account:hover{
}
.footer .Open:hover{
	background-position: -143px -862px;
	background-position: -143px -938px;
}
.footer3{
	text-align:center;
	border-top:#ccc solid 1px;
	background:#ddd;
	height:66px;
	padding:16px;
}
.footer2 a{
	color:#666;
}
.footer2 a:hover{
	color:#b20000;
}
.breadcrumb{
	margin:6px 0;
	}
.breadcrumb {
	color:#666;
	}
.breadcrumb span{
	float:left;margin:15px 0;
	}
.left{
	float:left;}
.content4{
	width:700px;}
.content5{
	width:226px;}
.right{
	float:right;}
.cb-text{ 
	line-height:1.6;}
.cb-text1{
	width:316px;}
.cb-text4 li{
	list-style:none; line-height:2.0;}
.product-img{
	border:1px solid #ccc;
	background:#fff;
	padding:10px;
	float:left}
.cb-text{
	float:right}
.colour1{
	width:16px;height:16px; 
	background:#00238C;float:left;
	margin:0 10px 0 10px;}
.colour2{
	width:16px;height:16px; 
	background:#006666;
	float:left;
	margin:0 10px 0 0;}
.colour3{
	width:16px;height:16px; 
	background:#468C00;float:left;
margin:0 10px 0 0;}
.colour4{
	width:16px;height:16px; 
	background:#D93600;float:left;
	margin:0 10px 0 0;}
.content5 .title{
	background:#eeeeee; font-size:16px; 
	border:#dddddd solid 1px;
	margin:10px 0 10px 0;padding:5px 10px; 
	text-align:center;}
.info{
	color:#666;}
.info img{
	margin:16px auto;}
.add{
	text-align:center;
	padding:10px 40px; 
	background:#B20000;
	width:186px;
	border-radius:40px;
	-moz-border-radius:25px; /* 老的 Firefox */
	margin:20px 0;}
.add a{
	color:#fff;
	font-size:16px; font-weight:bold;
}
.add:hover{ 
	background:#D92202}
.product-intro2 .title{
	border-bottom: #dfdfdf solid 6px;
	margin:36px 0 0 0;}
.title2{
	background:#f6f6f6; border-left:#dfdfdf solid 2px;
	border-top:#dfdfdf solid 2px;
	border-right:#dfdfdf solid 2px;
	top:6px;left:14px;position:relative;
	width:190px;font-size:16px;
	padding:10px 20px;
	text-align:center;} 
.info{
	padding:36px 0 30px 0; font-size:14px; color:#666;}
.cb-text2{ 
	font-size:16px;
	color:#666;}
.star1{
	width: 13px;
	height: 12px;
	background-image: url("../img/icon.png");
	background-position: -37px -216px;
	display: inline-block;}
.star2{
	width: 13px;
	height: 12px;
	background-image: url("../img/icon.png");
	background-position: -37px -249px;
	display: inline-block;}

.Sort{ margin:10px 0;}	
.Sort a{
		background:#fff; padding:3px 9px; margin:5px; border:1px solid #ccc;}
.Sort a:hover{
		background:#b20000; color:#fff; border:1px solid #fff;}
.prev a{
		background:#fff; padding:3px 9px; margin:5px; border:1px solid #ccc;}
.prev a:hover{
		background:#b20000; color:#fff; border:1px solid #fff;}
.login{ 
	margin:60px auto;
	width:300px;
	padding:30px 60px;
	background:#f6f6f6;
	border:1px dashed #999;	
	text-align:center;

}

.login input{
	padding:6px;
	width:260px;
	margin:6px;
	}
	
.login button{
	text-align: center;
	padding: 6px 56px;
	margin:6px;
	background: #B20000;
	border-radius:40px;
	border:none;
	color:#fff;
	font-size:16px;
	width:260px;
	
}
.login button:hover{ 
	background:#D92202}
.shopping-list{
	padding:10px 0;
	border-bottom:1px dashed #ccc;
}
		
.shopping-list .photo{
	float:left;
	padding:0 20px 0 0;
	width:120px;
	
	
}
.shopping-list img{
	max-width:100px;
	max-height:100px;
	
	
}
		
.shopping-list .code-name{
	font-size:16px; 
	float:left;
	width:500px;
	
}
		
.shopping-list .you-save{
	font-size:12px;
	
}
		
.shopping-list .price{
	font-size:20px;
	color:#b20000;
	width:260px;
	float:right;
	text-align:center;
}
.shopping-list .quantity{
	float:right;
	padding:16px 0;

	
}
		
.shopping-list .quantity select{
	font-size:16px;
}

.button01{ padding:20px 0; text-align:right;}		
.button02{
	text-align: center;
	padding: 6px 56px;
	margin:6px;
	background: #B20000;
	border-radius:40px;
	border:none;
	color:#fff;
	font-size:16px;

}
		
.button02:hover{
	background:#D92202
}
